body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #000000;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

img {
    height: 60px;
}

a {
    color: orangered;
}

.a-dialog-allow-button {
    background-color: white;
}

.a-dialog-deny-button {
    background-color: gray;
}

.a-dialog-ok-button {
    background-color: dodgerblue;
}

::-webkit-media-controls {
    display: none !important;
}

.balance {
    -webkit-filter: url(#_color);
    filter: url(#_color);
}

.a-enter-ar {
    display: none !important;
}

.loader {
    border: 4px solid rgba(0, 255, 98, 0.250);
    border-bottom: 4px solid darkgreen;
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    z-index: 1000000;
}

.loader.error {
    border: 4px solid rgba(255, 100, 100, 0.250);
    border-bottom: 4px solid darkred;
}

.loader.buffering {
    border: 4px solid rgba(255, 232, 100, 0.25);
    border-bottom: 4px solid rgb(255, 251, 0);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}