body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #000000;
  overflow: hidden;
}

img {
  height: 60px;
}

a {
  color: #000000;
}

.a-dialog-allow-button {
  background-color: black;
}

.a-dialog-deny-button {
  background-color: gray;
}

.a-dialog-ok-button {
  background-color: lightgreen;
}

.a-loader-title {
  color: white;
}

::-webkit-media-controls {
  display:none !important;
}